<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>383882848574-qkp6dliucskh28daelit50rtqevf1fhj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.383882848574-qkp6dliucskh28daelit50rtqevf1fhj</string>
	<key>API_KEY</key>
	<string>AIzaSyAAbgGHc9gy9-De-77lU49xKZ2ij9Ny-Zc</string>
	<key>GCM_SENDER_ID</key>
	<string>383882848574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MetaDots.RemedyEHR</string>
	<key>PROJECT_ID</key>
	<string>remedyehr-95137</string>
	<key>STORAGE_BUCKET</key>
	<string>remedyehr-95137.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:859566291948:ios:f2f50ea8f9e5ad94ea1ec9</string>
</dict>
</plist>